.card-week {
    grid-column: 2 / 11;
    background-color: var(--background-card-week);
    background: linear-gradient(var(--background-card-week) 0%, var(--background-card-week) 80%);
    color: black;
    border-radius: 5pt;

    display: grid;
    grid-template-columns: 200pt repeat(7, 1fr);
    grid-template-rows: 30pt 1fr;
}


.days {
    grid-column: 2 / 9;
    background-color: aqua;
}

.day {
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.monday {
    grid-column: 2 /3;
}


.users {
    grid-column: 1 / 2;
    /* background-color: brown; */
}

.user {
    height: 30pt;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* .user-one {
    background-color: teal;
}
.user-two {
    background-color: yellow;
}  */



@media (prefers-color-scheme: light) {
    .card-week {
        background: linear-gradient(var(--background-card-week) 0%, rgba(255, 255, 255, 0.0) 80%);
    }
}